body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  min-height: 200px;
  min-width: 200px;
  max-height: 400px;
  /*position: relative;*/
  display: block;  /* to stack images vertically in .repo */
  height: 20%; /* need these */
  width: 20%;
  
  object-fit: contain;
}

.main{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1em;
}

.block {
  background-color: lightgray;
}

.block > * {
  display:inline-block; /* nonce and Mine button horizontal */
}

.repo {
  border: solid 1px black;
  margin: 5px;
  overflow: scroll;
}

.repo > img{
  min-height: 160px;
  min-width: 160px;
  max-height: 200px;
  height: 20%; 
  width: 20%;
  margin: 10px;
  padding: 10px;
  object-fit: contain; /* to preserve aspect ratio */
  margin: auto; /* marging auto and display block to center images */
  display: block;
}

.drag {
  border: solid 2px purple;
  opacity: 50%;
}

.drop {
  border: solid 1px black;
}

.img-data {
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.frame {
  border: solid 1px black;
  margin: 5px;
  min-height: 280px;
  max-height: 280px;
  font-size: small;
  font-family: monospace;
}

.picture-frame {
  border: solid 1px lightgray;;
  margin: 5px;
  width: 200px;
  height:200px;
}

.nonce-box {
  margin: 5px;
}

.btn {
  margin: 5px;
}

.foo{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
}
.debug {
  border: solid 1px black;
  margin: 5px;
  font-size: small;
}

.hack{
  border: solid 1px gray;
  margin: 5px;
}

.empty{
  color: red;
}
