body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  min-height: 200px;
  min-width: 200px;
  max-height: 400px;
  /*position: relative;*/
  display: block;  /* to stack images vertically in .repo */
  height: 20%; /* need these */
  width: 20%;
  
  object-fit: contain;
}

.node{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  /*grid-template-columns: repeat(5, 1fr);*/  /*causes big gaps between columns*/
  border: solid 2px black;
  margin: 5px;
}

.node-id{
  background-color: darkolivegreen;
  color: white;
  margin: 5px;
}

.block{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 520px;
}

.block-header {
  background-color: lightgray;
}

.block-header > * {
  display:inline-block; /* nonce and Mine button horizontal */
}

.hash  {
  width: 300px;
  white-space: nowrap; /* does not print hashes on a new line after "Prev" or "Hash" */
  overflow: hidden;
  text-overflow: ellipsis;
}

.repo {
  border: solid 1px black;
  margin: 5px;
  overflow: scroll;
}

.repo > img{
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  height: 10%; 
  width: 10%;
  margin: 10px;
  padding: 10px;
  object-fit: contain; /* to preserve aspect ratio */
  margin: auto; /* marging auto and display block to center images */
  /*display: block;*/
  display:inline-block; /*side by side*/
}

.drag {
  border: solid 2px purple;
  opacity: 50%;
}

.drop {
  border: solid 1px black;
}

.img-data {
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
  width: 300px
}

.frame {
  border: solid 1px black;
  margin: 5px;
  min-height: 280px;
  max-height: 280px;
  font-size: small;
  font-family: monospace;
}

.picture-frame {
  border: solid 1px lightgray;;
  margin: 5px;
  /* width: 200px;
  height:200px; */
}

.nonce-box {
  margin: 5px;
}

.btn {
  margin: 5px;
}

.hack{
  border: solid 1px gray;
  margin: 5px;
}

.icon {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}



