body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  background: #3A6F9A;
  min-height: 200px;
  min-width: 200px;
  max-height: 400px;
  position: relative;
  display: block;  /* to stack images vertically in .repo */
  height: 20%; /* need these */
  width: 20%;
  margin: 5px;
}

.main{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.repo {
  border: solid 1px black;
  margin: 5px;
  overflow: scroll;
}

.repo > img{
  min-height: 160px;
  max-height: 200px;
  height: 20%; 
  width: 20%;
  margin: 10px;
}

.drag {
  border: solid 2px purple;
  opacity: 50%;
}

.img-data {
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.frame {
  border: solid 1px black;
  margin: 5px;
}

.nonce-box {
  margin: 5px;
}

.btn {
  margin: 5px;
}
